div.update-links-section {
}
	div.update-links-headline {
		display: inline;
		padding-right: .5em;
		
		font-weight: bold;
	}
	ul.update-links {
		margin:0;padding:0;
		display:inline;
		
		list-style: none;
	}
		ul.update-links li {
			display: inline;
		}

		ul.update-links li::after {
			content: " | ";
		}
		ul.update-links li:last-child::after {
			content: "";
		}
			ul.update-links li a {
			}
.update {
	
}
	.update-post-title {
		margin: .5em 0;

		font-size: 1.2em;
		font-weight: bold;
	}
